#Titulo1{
    text-align: center;
}

#pelicula #poster {
	width: 10%;
	margin-bottom: 10px;
	border-radius: 15px;
}

#Netflix{
    text-align: center;
}

#Titulo2{
    text-align: center;
}

#Hbo{
    text-align: center;
}

#Titulo3{
    text-align: center;
}

#Disney{
    text-align: center;
}