#Titulo1{
    text-align: center;
}

#Netflix{
    text-align: center;
}

#Titulo2{
    text-align: center;
}

#Hbo{
    text-align: center;
}

#Titulo3{
    text-align: center;
}

#Disney{
    text-align: center;
}